/* ******************
GLOBAL VALUES
****************** */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    margin: auto 0;
    padding: auto 0;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 42px;
    padding-right: 25px;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
}

/* **********************
HEADER LINKS/NAV BAR
********************** */
header {
    height: 120px;
    display: flex;
}
#slide-bar {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #1C1F26;
    left: -200px;
    transition: all 200ms linear;
    z-index: 100;
}
#slide-bar.active {
    left:0px;
}
#slide-bar ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    display: inline-block;
}
#slide-bar .on-button {
    position: absolute;
    left: 230px;
    top: 10px;
}
#slide-bar .on-button span {
    display:block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0px;
}
.headerLeft {
    background: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.address {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: right;
    align-items: right;
}
.header-links {
    background: #454E59;
    display: flex;
    justify-content: center;
    height: 40px;
}
ul li{
    display: inline;
    margin-right: 30px;
}
/* ************************
HERO PAGE
************************ */
.hero {
    height: 600px;
    background: gray;
    display: flex;
    background-image: url(../img/mars.jpg);
    background-position: right;
}
.heroLeft {
    background: #1C1F26;
    color: white;
    width: 50%;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
}
/* ******************************
MAIN CONTENT/CONTENT CONTAINER
****************************** */
main {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}
.container-wrapper-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.container {
    max-width: 80%;
    background: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #222;
    border-radius: 15px;
    padding: 10px;
}
.img-container {
    width: 150px;
    height: 150px;
    background: blue;
    margin: 10px;
}
table {
    margin-right: 25px;
    padding: auto;
}
/* *************
FOOTER
************* */
footer {
    height: 150px;
    background: #454E59;
}
